<section id="play_section">
  <h2>Rock</h2>
  <p>Rock VS Rock: <a href="result/rock/rock">Play</a></p>
  <p>Rock VS Scissors: <a href="result/rock/scissors">Play</a></p>
  <p>Rock VS Paper: <a href="result/rock/paper">Play</a></p>
  <h2>Scissors</h2>
  <p>Scissors VS Rock: <a href="result/scissors/rock">Play</a></p>
  <p>Scissors VS Scissors: <a href="result/scissors/scissors">Play</a></p>
  <p>Scissors VS Paper: <a href="result/scissors/paper">Play</a></p>
  <h2>Paper</h2>
  <p>Paper VS Rock: <a href="result/paper/rock">Play</a></p>
  <p>Paper VS Scissors: <a href="result/paper/scissors">Play</a></p>
  <p>Paper VS Paper: <a href="result/paper/paper">Play</a></p>
</section>
