<section id="welcome_section">
  <h1>Rock Paper Scissors</h1>
  <p>
    Rock-paper-scissors (or rock, paper, scissors) is a zero-sum hand game
    usually played between two people, in which each player simultaneously
    forms one of three shapes with an outstretched hand. These shapes are "rock"
    (a simple fist), "paper" (a flat hand), and "scissors" (a fist with the
    index and middle fingers together, forming a V). The game has only two
    possible outcomes other than a tie: a player who decides to play rock will
    beat another player who has chosen scissors ("rock crushes scissors") but
    will lose to one who has played paper ("paper covers rock"); a play of paper
    will lose to a play of scissors ("scissors cut paper"). If both players
    choose the same shape, the game is tied and is usually immediately replayed
    to break the tie.
  </p>

  <p>
    <a href="https://en.wikipedia.org/wiki/Rock%E2%80%93paper%E2%80%93scissors">
      Wikipedia: Rock Paper Scissors
    </a>
  </p>

  <h2>Rules</h2>
    <ol>
      <li>
        The Game is played where the players substitute the three elements of
        Rock, Paper and Scissors with representative hand signals.
      </li>
      <li>
        These hand signals are delivered simultaniously by the players
      </li>
      <li>
        The Outcome of play is determined by the following
        <ul>
          <li>Rock wins against Scissors,</li>
          <li>Scissors wins against Paper</li>
          <li>Paper wins against Rock</li>
        </ul>
      </li>
    </ol>

  <p>
    <a href="http://worldrps.com/game-basics/">
      World RPS society Rules
    </a>
  </p>
</section>
